<div class="container" @sectionAnimation>
  <div class="leftSliderSection">
        <img src ="https://res.cloudinary.com/dxbjzad2p/image/upload/v1540236646/3.png"/>
  </div>
 
  <ul class="centerSliderSection">
    <li> Вам спокійно відпускати дитину у двір, де їздять та паркуються автомобілі?  </li> <br>
    <li> Вам подобаються прохідні двори, в яких тісно перебувати мешканцям, майже відсутні зелень, сучасний ландшафтний дизайн та повноцінна інфраструктура для дитячих ігор та відпочинку дорослих? </li>
  </ul>
  <div class="rightSliderSection">
    <img src="https://res.cloudinary.com/dxbjzad2p/image/upload/v1541262609/5.png"/>
  </div>
  <svg id="dashed-line"></svg>

</div>